<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Individual Demonstration Booking System</title>
  <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
  <link rel="manifest" href="lessonapp.webmanifest">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <!-- <script src="lessons.js"></script> -->
  
</head>
<body>
  <div id="app">
    <div>
      <div>
        <!-- <img src="/backend/lesson-images/welcome.jpeg" alt="Welcome Image"> -->

        <h1>Individual Demonstration Booking System</h1>
        <label for="sort">Sort By:</label>
        <select id="sort" v-model="sortBy">
          <option value="subject">Subject</option>
          <option value="location">Location</option>
          <option value="price">Price</option>
          <option value="spaces">Spaces</option>
        </select>
        <select v-model="sortOrder">
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>
        <button @click="toggleCartPage" :disabled="cart.length === 0">Shopping Cart</button>
      </div>

      <button @click="saveProductToDB">
        <span class="fas fa-save"></span>
        TestSave a product
    </button>
      <input v-model="searchTerm" @input="filterLessons" placeholder="Search Lessons...">
      
      <strong class="test-elem">HTTPS Test: </strong>
   <a v-bind:href="serverURL" target="_blank">link</a>
   <button @click="deleteAllCaches" class="test-elem">
    <span class="fas fa-trash"></span>
    Delete All Caches
</button>
<button @click="unregisterAllServiceWorkers" class="test-elem">
    <span class="fab fa-uniregistry"></span>
    Unregister All ServiceWorkers
</button>
<button @click="reloadPage" class="test-elem">
    <span class="fas fa-sync"></span>
Reload Page
 </button>
      <div>
        <div v-for="lesson in filteredLessons" :key="lesson.id">
            <div class="lesson">
              <i :class="['fas', lesson.icon]"></i> 
              <p>Subject: {{ lesson.subject }}</p>
              <p>Location: {{ lesson.location }}</p>
              <p>Price: ${{ lesson.price }}</p>
              <p>Spaces: {{ lesson.spaces }}</p>
              <button @click="addToCart(lesson)" :disabled="lesson.spaces === 0">Add to Cart</button>

            </div>
          </div>   
          
      </div>
    </div>
  </div>

  <div id="cartApp" style="display: none;">
    <h1>Shopping Cart</h1>
    <div>
      <button @click="toggleCartPage">Shopping Cart</button>
    </div>
    <div v-if="cart.length === 0">No items in the cart</div>
    <div v-for="cartItem in cart" :key="cartItem.id">
        <div class="cart-item">
          <i :class="['fas', cartItem.icon]"></i> 
          <p>Subject: {{ cartItem.subject }}</p>
          <p>Location: {{ cartItem.location }}</p>
          <p>Price: ${{ cartItem.price }}</p>
          <button @click="removeFromCart(cartItem)">Remove from Cart</button>
        </div>
      </div>
    <input v-model="name" placeholder="Name">
    <input v-model="phone" placeholder="Phone Number">
    <button @click="checkout" :disabled="!validInput">Checkout</button>
    <p v-if="orderSubmitted">Order has been submitted!</p>
  </div>

  <script>
  
    const eventBus = new Vue();

const webstore = new Vue({
  el: '#app',
  data: {
    lessons: [],
    // lessons: lessons, 
    sortBy: 'subject',
    sortOrder: 'asc',
    searchTerm: '',
    cart: [],
    serverURL: "https://lesseonapp3-env.eba-mwhmmtep.eu-west-2.elasticbeanstalk.com/collections/lessons",
  },
  

  created: function () {
    // fetch("http://localhost:3000/collections/lessons").then(
    //   function (response) {
    //     response.text().then(
    //       function (text) {
    //         alert(text);
    //       }
    //     )
    //   }
    // )

    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("service-worker.js");
   }
    //  fetch that retrieves all the lessons with GET
    // fetch("http://localhost:3000/collections/lessons").then(
    fetch("https://lesseonapp3-env.eba-mwhmmtep.eu-west-2.elasticbeanstalk.com/collections/lessons").then(  
      function (response) {
        response.json().then(
          function (json) {
            // alert(json);
            // console.log(json);
            webstore.lessons = json;
          }
        )
      }
    )
  },

  computed: {
    sortedLessons() {
  return this.lessons.slice().sort((a, b) => {
    if (
      (this.sortBy === 'subject' || this.sortBy === 'location') &&
      a[this.sortBy] &&
      b[this.sortBy]
    ) {
      const nameA = a[this.sortBy].toUpperCase();
      const nameB = b[this.sortBy].toUpperCase();
      if (this.sortOrder === 'asc') {
        return nameA.localeCompare(nameB);
      } else {
        return nameB.localeCompare(nameA);
      }
    } else if (a[this.sortBy] && !b[this.sortBy]) {
      return -1;
    } else if (!a[this.sortBy] && b[this.sortBy]) {
      return 1;
    } else {
      return 0;
    }
  });
},

    filteredLessons() {
      if (!this.searchTerm) {
        return this.sortedLessons;
      }
      const search = this.searchTerm.toLowerCase();
      return this.sortedLessons.filter(lesson => {
        return (
          lesson.subject.toLowerCase().includes(search) ||
          lesson.location.toLowerCase().includes(search)
        );
      });
    },
  },
  methods: {
    unregisterAllServiceWorkers() {
    navigator.serviceWorker.getRegistrations().then(function(registrations) {
      for (let registration of registrations) {
        registration.unregister();
      }
    });
    console.log("ServiceWorkers Unregistered");
  },
  deleteAllCaches() {
  caches.keys().then(function(names) {
    for (let name of names)
      caches.delete(name);
  });
  console.log("All Caches Deleted");
},
reloadPage() {
  window.location.reload();
},

    
    addToCart(lesson) {
    if (lesson.spaces > 0) {
        // Decrease the lesson space
        lesson.spaces--;
        
        // Add the lesson to the cart
        this.cart.push({
            id: lesson.id,
            subject: lesson.subject,
            location: lesson.location,
            price: lesson.price,
            icon: lesson.icon, 
        });
        eventBus.$emit('item-added', this.cart);
    }
},

    //  fetch that updates the available lesson space with PUT after an order is submitted
    updateLessonSpace(lessonId) {
    console.log('Lesson ID:', lessonId); // Log the lessonId to the console for debugging

    fetch(`https://lesseonapp3-env.eba-mwhmmtep.eu-west-2.elasticbeanstalk.com/collections/lessons/${lessonId}`, {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json' }
    }).then(response => {
        if (!response.ok) {
            throw new Error('Failed to update lesson space');
        }
    }).catch(error => {
        console.error('Error:', error);
    });

  
},

// fetch to send the search information to the Back-End.
    searchLessons() {
      fetch(`https://lesseonapp3-env.eba-mwhmmtep.eu-west-2.elasticbeanstalk.com/search?term=${this.searchTerm}`)
        .then(response => response.json())
        .then(data => {
          this.lessons = data;
        })
        .catch(error => {
          console.error('Error:', error);
        });
    },

    toggleCartPage() {
      const cartApp = document.getElementById('cartApp');
      if (cartApp.style.display === 'none') {
        cartApp.style.display = 'block';
        document.getElementById('app').style.display = 'none';
      } else {
        cartApp.style.display = 'none';
        document.getElementById('app').style.display = 'block';
      }
    },
    filterLessons() {
      
    },
    saveProductToDB() {
      const newProduct = {
        "id": 1,
        "subject": "Science",
        "location": "Lab B",
        "price": 25,
        "spaces": 5,
        "icon": "fa-flask"
      }

      fetch("https://lesseonapp3-env.eba-mwhmmtep.eu-west-2.elasticbeanstalk.com/collections/lessons", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify(newProduct),
})
  .then((response) => {
    if (response.ok) {
      // Check if the response status is OK (e.g., 200 or 201)
      return response.json(); // Parse the JSON response
    } 
  })
  .then((json) => {
    alert("Success: Product saved to the database");
    console.log("Success: Product saved to the database", json);

    // Optionally, you can update your frontend data or UI as needed
    webstore.lessons.push(newProduct);
  })
  .catch((error) => {
    console.error("Error saving product:", error);
    alert("Error: Failed to save product to the database");
  });


    },
    
    

  },
  
});

  
    new Vue({
      el: '#cartApp',
      data: {
        name: '',
        phone: '',
        orderSubmitted: false,
        cart: [],
      },
      
      computed: {
        validInput() {
          return /^[A-Za-z\s]+$/.test(this.name) && /^\d+$/.test(this.phone);
        },
      },
      methods: {
        removeFromCart(cartItem) {
      const removedIndex = this.cart.findIndex(item => item.id === cartItem.id);
      if (removedIndex !== -1) {
        const removedLesson = this.cart[removedIndex];
        this.cart.splice(removedIndex, 1);

      const lessonToUpdate = lessons.find(lesson => lesson.id === removedLesson.id);
      if (lessonToUpdate) {
        lessonToUpdate.spaces++;
      }

      
      eventBus.$emit('item-removed', this.cart);
    }
  },
  checkout() {
    if (this.validInput) {
        const order = {
            name: this.name,
            phone: this.phone,
            lessonIDs: this.cart.map(item => item.id),
            numberOfSpace: this.cart.length
        };
       // fetch that saves a new order with POST after it is submitted
        fetch('https://lesseonapp3-env.eba-mwhmmtep.eu-west-2.elasticbeanstalk.com/collections/orders', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(order)
        }).then(response => {
            if (response.ok) {
                return response.json(); // Parse the JSON response if successful
            } 
        }).then(json => {
            alert("Success: Order placed successfully!");
            console.log("Success: Order placed successfully", json);
            this.orderSubmitted = true;
            this.cart = []; // Clear the cart
        }).catch(error => {
            console.error('Error:', error);
            alert('Error: Failed to place order');
        });
    }
},

        toggleCartPage() {
          const cartApp = document.getElementById('cartApp');
          if (cartApp.style.display === 'none') {
            cartApp.style.display = 'block';
            document.getElementById('app').style.display = 'none';
          } else {
            cartApp.style.display = 'none';
            document.getElementById('app').style.display = 'block';
          }
        },
      },
      created() {
        eventBus.$on('item-added', cart => {
          this.cart = cart;
        });

        eventBus.$on('item-removed', cart => {
          this.cart = cart;
        });
      },
    });
  </script>

<style>
    .lesson {
      border: 1px solid #ccc;
      padding: 10px;
      margin: 10px 0;
    }
    .cart-item {
      border: 1px solid #ccc;
      padding: 10px;
      margin: 10px 0;
    }
  </style>

</body>
</html>
